body {
    margin-left: 15px;
}

h1, h2, h3, h4 {
    font-family: Arial, sans-serif; 
}

ul,p{
    font-family: 'Times New Roman', Times, serif;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}

#img-caption {
    font-style: italic;
}

#tribute-info {
    margin-top: 20px;
}

#tribute-link {
    display: block;
    text-decoration: none;
    color: blue;
}

#tribute-link:hover {
    text-decoration: underline;
}
